.outer{
    height: 400px;
    width: 400px;
    background-color: rgb(18, 2, 44);
    display: flex;
    justify-content: center;
    align-items: center;


}

.inner{
    height: 150px;
    width: 150px;
    background-color: rgb(74, 47, 6);
    


}
    
