
#one{
   font-weight: bold;
   text-align: center;
   text-decoration: underline;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 55px;
   line-height: 600px;
   text-transform: uppercase;


}