*{
    /* margin: 0px;
    padding: 0px;; */
    background-color: rgb(215, 233, 227);
}











.nav-bar{
    
    height: 600px;
    width: 800px;
    border: 2px;
    background-color: rgb(46, 119, 214);
    margin:80rem;


     

    
}