#one{
    background-color: rgb(189, 20, 48);
    /* display:inline;
    display:block; */
    display:inline-block;
    height:100px;
    width:100px;
    margin: 25px;
    padding: 25px;
}

#two{
    background-color: rgb(247, 123, 144);
    /* display:inline;
    display:block; */
    display:inline-block;
    height:100px;
    width:100px;
    margin: 25px;
    padding: 25px;
    /* display: none; */
    visibility: hidden;

}
#three{
    background-color: rgb(71, 8, 80);
    /* display:inline;
    display:block; */
    display:inline-block;
    height:100px;
    width:100px;
    margin: 25px;
    padding: 25px;
}